<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <img
        src="/uploads/<%= profilePic %>"
        alt="Profile Picture"
        style="width: 100px; height: 100px; border-radius: 50%"
      />
      <h1>Dashboard - <%= username %></h1>
      <a href="/logout">Logout</a>
    </header>

    <main>
      <p>Email: <%= email %></p>
      <p>Username: <%= username %></p>

      <h3>Edit Profile</h3>
      <button onclick="window.location.href='/edit-profile/<%= userId %>'">
        Go to Edit Profile
      </button>

      <h3>Skills and Qualifications</h3>
      <button
        onclick="window.location.href='/skills-qualifications/<%= userId %>'"
      >
        View Skills and Qualifications
      </button>
    </main>
  </body>
</html>
